
<input matInput [matDatepicker]="picker"  [formControl]="dateFormControl"
       class="mychart-date-select" (focus)="picker.open()" (dateChange)="this.setDate($event)">
<!--            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<mat-datepicker #picker></mat-datepicker>
<mat-select class="mychart-time-select toolbar-cmp" [value]="this.date.getHours()" (selectionChange)="this.setHours($event.value)">
    <mat-option *ngFor="let hour of hours" [value]="hour">
        {{ ("0" + hour).slice(-2) }}
    </mat-option>
</mat-select>
:
<mat-select class="mychart-time-select toolbar-cmp" [value]="this.date.getMinutes()" (selectionChange)="this.setMinutes($event.value)" >
    <mat-option *ngFor="let minute of minutes" [value]="minute">
        {{ ("0" + minute).slice(-2) }}
    </mat-option>
</mat-select>
